@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

body {
    font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #3B0000; color:white;
    min-width: 1440px; overflow-x: auto;
}

.header-bg {
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;     /* 필요하면 fixed, 아니면 absolute */
    top: 0;
    left: 0;
    z-index: 2;
}

/* 가운데 1440px 영역 */
.header-inner {
    width: min-width:1440px; width:100%;              /* 기존 고정 폭 유지 */
    height: 100%;
    margin: 0 auto;             /* 가운데 정렬 */
    position: relative;         /* 내부 absolute 배치 유지 */
    display: flex;
    align-items: center;
    font-family: IBM Plex Sans KR, Arial, sans-serif;
}

/* 기존 스타일 유지 */
.header_title > a, 
.header_student > a,
.header_people > a,
.header_credit > a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size:20px;
}

/* 내부 탭 위치는 기존처럼 absolute 유지 가능 */
.header_title {
    padding: 0 0 0 60px; 
    position: absolute; 
    left: 0;
}
.header_student{
    left: 35%; 
    position: absolute;
}
.header_people{
    left: 55%; 
    position: absolute;
}
.header_credit{
    padding: 0 60px 0 0; 
    position: absolute; 
    right: 0;
}

p {padding: 0px 0px 0px 0px; margin:0px; line-height:1.8;}

h1{padding: 0px 0px 50px 0px; text-align:center; font-family: IBM Plex Sans KR, Arial, sans-serif;}

#box{width: 1280px; height: 1px; outline: 0.5px white solid; outline-offset: -1px;}
.person{display:flex; justify-content: space-between;}
.person_box{padding: 35px 0px 35px 0px; display:flex;}
.did_what{font-weight:600; width:80px;}
.people{position:relative; left:50px; width:240px;}
.e_mail{width:270px; padding: 0 10px 0 0;}

.did_what_r{font-weight:600; width:80px;}
.people_r{position:relative; left:50px; width:200px;}
.e_mail_r{width:310px; padding: 0 10px 0 0;}

#whole_box{position: relative; min-width: 1280px; width: 100%; height: auto; display: grid; place-items: center;}

footer {
    background-color: #fff;
    color: black;
    text-align: left;
    height: 200px;
    
    display: flex;            /* ★ 세로 정렬을 footer에서 해줌 */
    justify-content: center;  /* 가로 중앙 정렬 */
    align-items: center;      /* 세로 중앙 정렬 */
}

.footer-bg {
    width: 100%;
    background-color: #fff;   /* 기존 footer 배경 유지 */
    position: relative;
    padding: 0;       
}

.footer-inner {
    min-width:1440px; width:100%;
    margin: 0 auto;
    position: relative;
}

.footer_wrap{min-width:1440px; width:100%; display:flex; align-items: center;}

.foot_tit{padding:0px 0px 0px 80px; font-size: 24px; font-family: Inter; font-weight: 600;}
.foot_name{padding:0px 0px 0px 80px; font-size: 24px; font-family: Inter; font-weight: 400;}
.foot_snupress{position:absolute; right:80px; font-family: Inter;}
.foot_snupress_name{font-size:14px; font-weight:400; color:#000000;
    padding: 0px 0px 20px 0px; display:flex;}
.foot_snupress_address{font-size:12px; font-weight:350; color:#696969; font-style: normal;
    }


.icons > a{display:block; width:16px; height:16px; position:absolute; transition:.4s;}
.insta{background:url(./images/insta.png) no-repeat; left:140px; top:3.5px;}
.insta:hover{background:url(./images/insta_h.png) no-repeat;}
.homepage{background:url(./images/homepage.png) no-repeat; left:162px; top:3.5px;}
.homepage:hover{background:url(./images/homepage_h.png) no-repeat;}
