@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

body {
    font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #3B0000; color:white;
    min-width: 1440px; overflow-x: auto;
}

header{
    position: absolute; display:flex; align-items: center; text-align: center;
    height:120px; width: 1440px; left: 50%; transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3); color: white;
    z-index: 2;
    font-family: IBM Plex Sans KR, Arial, sans-serif; overflow-x: auto;
}
.header_title > a, .header_student > a, .header_people > a, .header_credit > a {
    color: white; text-decoration: none; font-weight: bold; font-size:20px;}
.header_title{padding: 0 0 0 60px; position: absolute; left: 0;}
.header_student{left: 35%; position: absolute;}
.header_people{left: 55%; position: absolute;}
.header_credit{padding: 0 60px 0 0; position: absolute; right: 0;}


p {padding: 0px 0px 0px 0px; margin:0px; line-height:1.8;}

h1{padding: 0px 0px 50px 0px; text-align:center; font-family: IBM Plex Sans KR, Arial, sans-serif;}

#box{width: 1280px; height: 1px; outline: 0.5px white solid; outline-offset: -1px;}
.person{display:flex; justify-content: space-between;}
.person_box{padding: 35px 0px 35px 0px; display:flex;}
.did_what{font-weight:600; width:80px;}
.people{position:relative; left:50px; width:240px;}
.e_mail{width:270px; padding: 0 10px 0 0;}

.did_what_r{font-weight:600; width:80px;}
.people_r{position:relative; left:50px; width:200px;}
.e_mail_r{width:310px; padding: 0 10px 0 0;}

#whole_box{position: relative; min-width: 1280px; width: 100%; height: auto; display: grid; place-items: center;}

footer{
    background-color: #fff;
    color: black;
    align-items: center;
    text-align: left;
    width:1440px; height:200px; left: 50%; transform: translateX(-50%);
    position: relative; overflow: hidden;
}

.footer_wrap{width:1440px; height:100%; display:flex; align-items: center;}

.foot_tit{padding:0px 0px 0px 80px; font-size: 24px; font-family: Inter; font-weight: 600;}
.foot_name{padding:0px 0px 0px 80px; font-size: 24px; font-family: Inter; font-weight: 400;}
.foot_snupress{position:absolute; right:80px; font-family: Inter;}
.foot_snupress_name{font-size:14px; font-weight:400; color:#000000;
    padding: 0px 0px 20px 0px; display:flex;}
.foot_snupress_address{font-size:12px; font-weight:350; color:#696969; font-style: normal;
    }

.icons > a{display:block; width:16px; height:16px; position:absolute; transition:.4s;}
.insta{background:url(./images/insta.png) no-repeat; left:140px; top:3.5px;}
.insta:hover{background:url(./images/insta_h.png) no-repeat;}
.homepage{background:url(./images/homepage.png) no-repeat; left:162px; top:3.5px;}
.homepage:hover{background:url(./images/homepage_h.png) no-repeat;}
